# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Coverage
coverage/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Temporary files
tmp/
temp/